<div mat-dialog-content>

  <ng-container *ngIf="action != 'Delete'; else elseTemplate">

    <label *ngIf="action != 'Add'">cow id - {{ localData.cowId }}</label>

    <mat-form-field>
      <input placeholder="healthIndex" matInput [(ngModel)]="localData.healthIndex">
    </mat-form-field>

    <mat-form-field>
      <input placeholder="endDate" matInput [(ngModel)]="localData.endDate">
    </mat-form-field>

    <mat-form-field>
      <input placeholder="minValueDateTime" matInput [(ngModel)]="localData.minValueDateTime">
    </mat-form-field>

    <mat-form-field>
      <input placeholder="type" matInput [(ngModel)]="localData.type">
    </mat-form-field>

    <mat-form-field>
      <input placeholder="animalId" matInput [(ngModel)]="localData.animalId">
    </mat-form-field>

    <mat-form-field>
      <input placeholder="deletable" matInput [(ngModel)]="localData.deletable">
    </mat-form-field>

    <mat-form-field>
      <input placeholder="eventId" matInput [(ngModel)]="localData.eventId">
    </mat-form-field>

    <mat-form-field>
      <input placeholder="lactationNumber" matInput [(ngModel)]="localData.lactationNumber">
    </mat-form-field>

    <mat-form-field>
      <input placeholder="daysInLactation" matInput [(ngModel)]="localData.daysInLactation">
    </mat-form-field>

    <mat-form-field>
      <input placeholder="ageInDays" matInput [(ngModel)]="localData.ageInDays">
    </mat-form-field>

    <mat-form-field>
      <input placeholder="startDateTime" matInput [(ngModel)]="localData.startDateTime">
    </mat-form-field>

    <mat-form-field>
      <input placeholder="reportingDateTime" matInput [(ngModel)]="localData.reportingDateTime">
    </mat-form-field>

  </ng-container>

  <ng-template #elseTemplate>
    Sure to delete cow with id <b>{{ localData.cowId }}</b>?
  </ng-template>
</div>
<div mat-dialog-actions>
  <button mat-button (click)="doAction()">{{ action }}</button>
  <button mat-button (click)="closeDialog()" mat-flat-button>Cancel</button>
</div>
